# Compute MAE between two submission files

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import os 

from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

from kdd_utils import addFieldDataFtrs, addSoilFtrs, cvPerYear, load_model_ignoring, save_model_ignoring

sns.set(style="whitegrid")

from fastai.structured import *
from fastai.column_data import *

/home/eraldo/miniconda2/envs/fastai/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/eraldo/miniconda2/envs/fastai/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/eraldo/miniconda2/envs/fastai/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Load files and align

In [8]:
f1 = '../submissions/2018-09-09-16-04-05-387446.submission.csv' # MAE=0.08606
f2 = '../submissions/2018-08-17-22-13-39-686582.submission.csv' # MAE=0.09733
f3 = '../submissions/2018-09-13-21-24-37-381997.submission.csv' # MAE=?

df1 = pd.read_csv(f1)
df2 = pd.read_csv(f2)
df3 = pd.read_csv(f3)

display(df1.describe())
display(df2.describe())
display(df3.describe())

                Id   production
count  4110.000000  4110.000000
mean   7297.500000     0.163588
std    1186.599132     0.084873
min    5243.000000     0.000000
25%    6270.250000     0.102040
50%    7297.500000     0.147245
75%    8324.750000     0.208232
max    9352.000000     0.565233

                Id   production
count  4110.000000  4110.000000
mean   7297.500000     0.184312
std    1186.599132     0.088020
min    5243.000000     0.075612
25%    6270.250000     0.114946
50%    7297.500000     0.156063
75%    8324.750000     0.231721
max    9352.000000     0.484978

                Id   production
count  4110.000000  4110.000000
mean   7297.500000     0.181705
std    1186.599132     0.089778
min    5243.000000     0.011490
25%    6270.250000     0.119940
50%    7297.500000     0.171084
75%    8324.750000     0.226872
max    9352.000000     0.572652

In [9]:
df = df1.merge(df2, on='Id', suffixes=('_df1', '_df2'))
df = df.merge(df3, on='Id')
df.rename(columns={'production': 'production_df3'}, inplace=True)
display(df.describe())

                Id  production_df1  production_df2  production_df3
count  4110.000000     4110.000000     4110.000000     4110.000000
mean   7297.500000        0.163588        0.184312        0.181705
std    1186.599132        0.084873        0.088020        0.089778
min    5243.000000        0.000000        0.075612        0.011490
25%    6270.250000        0.102040        0.114946        0.119940
50%    7297.500000        0.147245        0.156063        0.171084
75%    8324.750000        0.208232        0.231721        0.226872
max    9352.000000        0.565233        0.484978        0.572652

In [10]:
metrics.mean_absolute_error(df.production_df1, df.production_df2)

0.04133398954868546

In [11]:
metrics.mean_absolute_error(df.production_df1, df.production_df3)

0.035148459127277064

In [12]:
metrics.mean_absolute_error(df.production_df2, df.production_df3)

0.04605616247716142