# Data Analisys

We will visualize the variables and datasets present in the competition to understand some existing patterns.

In [172]:
import pandas as pd
import numpy as np
import os 

#import plotly.plotly as py
#import plotly.graph_objs as go

from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

import warnings
warnings.filterwarnings('ignore')

In [173]:
# Private DataSet path: ../input/kddbr2018dataset/kddbr-2018-dataset/dataset. This dataset is the same of competitions
#
path = '../input/'
print(os.listdir(path))

['field-8.csv', 'field-2.csv', 'field-18.csv', 'field-24.csv', 'models', 'field-11.csv', 'field-25.csv', 'field-13.csv', 'field-22.csv', 'field-0.csv', 'field-20.csv', 'field-10.csv', 'field-27.csv', 'train.csv', 'all_clean.csv', 'field-14.csv', 'field-1.csv', 'field-12.csv', 'tmp', 'field-7.csv', 'field-17.csv', 'sample-submission.csv', 'field-23.csv', 'field-4.csv', 'field-19.csv', 'field-21.csv', 'field-3.csv', 'field-15.csv', 'soil_data.csv', 'field-16.csv', 'test.csv', 'field-9.csv', 'field-5.csv', 'field-26.csv', 'field-6.csv']

## Train and test datasets

Basic data containing palm tree information

In [174]:
df_train = pd.read_csv(os.path.join(path, 'train.csv'))

# Remove data before 2006.
# df_train = df_train[df_train.harvest_year >= 2006]

df_test  = pd.read_csv(os.path.join(path, 'test.csv'))
df_all = pd.concat([df_train, df_test], ignore_index=True)

print(df_train.shape, df_test.shape, df_all.shape)

(5243, 7) (4110, 6) (9353, 7)

In [175]:
df_train.describe()

,Id,field,age,type,harvest_year,harvest_month,production
count,5243.000000,5243.000000,5243.000000,5243.000000,5243.000000,5243.000000,5243.000000
mean,2621.000000,10.453748,11.910929,4.620446,2007.644478,6.546634,0.161459
std,1513.668061,7.725394,6.464020,0.991060,2.240641,3.463368,0.140394
min,0.000000,0.000000,3.000000,0.000000,2004.000000,1.000000,0.000000
25%,1310.500000,4.000000,7.000000,5.000000,2006.000000,4.000000,0.064168
50%,2621.000000,10.000000,10.000000,5.000000,2008.000000,7.000000,0.122880
75%,3931.500000,16.000000,18.000000,5.000000,2010.000000,10.000000,0.217869
max,5242.000000,27.000000,26.000000,6.000000,2011.000000,12.000000,1.000000

In [176]:
df_test.describe()

,Id,field,age,type,harvest_year,harvest_month
count,4110.000000,4110.000000,4110.000000,4110.000000,4110.000000,4110.00000
mean,7297.500000,9.284428,16.205109,4.354501,2014.361071,6.43455
std,1186.599132,7.558750,7.473749,1.523124,1.629624,3.39713
min,5243.000000,0.000000,3.000000,-1.000000,2012.000000,1.00000
25%,6270.250000,2.000000,12.000000,5.000000,2013.000000,3.00000
50%,7297.500000,8.000000,14.000000,5.000000,2014.000000,6.00000
75%,8324.750000,15.000000,24.000000,5.000000,2016.000000,9.00000
max,9352.000000,27.000000,30.000000,7.000000,2017.000000,12.00000

In [177]:
from datetime import date
df_ = df_all.copy()


##### TRAIN #####

# type == 5
df_.loc[(df_.Id >= 4846) & (df_.Id <= 4857) & (df_.field ==  6), 'age'] = 10
df_.loc[(df_.Id >= 5030) & (df_.Id <= 5041) & (df_.field ==  7), 'age'] = 10
df_.loc[(df_.Id >= 5123) & (df_.Id <= 5134) & (df_.field ==  8), 'age'] = 10
df_.loc[(df_.Id >= 5215) & (df_.Id <= 5226) & (df_.field ==  9), 'age'] = 10
df_.loc[(df_.Id >= 2758) & (df_.Id <= 2769) & (df_.field == 10), 'age'] = 10
df_.loc[(df_.Id >= 1937) & (df_.Id <= 1948) & (df_.field == 10), 'age'] = 10
df_.loc[(df_.Id >= 2844) & (df_.Id <= 2855) & (df_.field == 11), 'age'] = 10
df_.loc[(df_.Id >= 2930) & (df_.Id <= 2941) & (df_.field == 12), 'age'] = 10
df_.loc[(df_.Id >= 2033) & (df_.Id <= 2044) & (df_.field == 12), 'age'] = 10
df_.loc[(df_.Id >= 3016) & (df_.Id <= 3027) & (df_.field == 13), 'age'] = 10
df_.loc[(df_.Id >= 3102) & (df_.Id <= 3113) & (df_.field == 14), 'age'] = 10
df_.loc[(df_.Id >= 3189) & (df_.Id <= 3200) & (df_.field == 15), 'age'] = 10
df_.loc[(df_.Id >= 3276) & (df_.Id <= 3287) & (df_.field == 16), 'age'] = 10
df_.loc[(df_.Id >= 3363) & (df_.Id <= 3374) & (df_.field == 17), 'age'] = 10
df_.loc[(df_.Id >= 3439) & (df_.Id <= 3450) & (df_.field == 18), 'age'] = 10
df_.loc[(df_.Id >= 3515) & (df_.Id <= 3526) & (df_.field == 19), 'age'] = 10
df_.loc[(df_.Id >= 3593) & (df_.Id <= 3604) & (df_.field == 20), 'age'] = 10
df_.loc[(df_.Id >= 3673) & (df_.Id <= 3684) & (df_.field == 21), 'age'] = 10
df_.loc[(df_.Id >= 3760) & (df_.Id <= 3771) & (df_.field == 22), 'age'] = 10
df_.loc[(df_.Id >= 3848) & (df_.Id <= 3859) & (df_.field == 23), 'age'] = 10
df_.loc[(df_.Id >= 3936) & (df_.Id <= 3947) & (df_.field == 24), 'age'] = 10
df_.loc[(df_.Id >= 4022) & (df_.Id <= 4033) & (df_.field == 25), 'age'] = 10
df_.loc[(df_.Id >= 4107) & (df_.Id <= 4118) & (df_.field == 26), 'age'] = 10
df_.loc[(df_.Id >= 4192) & (df_.Id <= 4203) & (df_.field == 27), 'age'] = 10

# type != 5
df_.loc[(df_.Id >= 2411) & (df_.Id <= 2422) & (df_.field ==  0), 'age'] = 10
df_.loc[(df_.Id >= 2582) & (df_.Id <= 2593) & (df_.field ==  1), 'age'] = 10
df_.loc[(df_.Id >= 2672) & (df_.Id <= 2683) & (df_.field ==  2), 'age'] = 10
df_.loc[(df_.Id >= 1865) & (df_.Id <= 1876) & (df_.field ==  8), 'age'] = 10
df_.loc[(df_.Id >= 2261) & (df_.Id <= 2272) & (df_.field == 26), 'age'] = 10

##### TEST #####

df_.loc[(df_.Id >= 6544) & (df_.Id <= 6548) & (df_.field == 8), 'age'] = 17

################


df_.to_csv(os.path.join(path, 'all_clean.csv'))

In [178]:
df_clean = df_

val_year = 2011
test_year = 2012

train_mask = (df_clean.harvest_year < val_year)
val_mask = ((df_clean.harvest_year >= val_year) & (df_clean.harvest_year < test_year))
test_mask = (df_clean.harvest_year >= test_year)

df_train = df_clean[train_mask]
df_val = df_clean[val_mask]
df_test = df_clean[test_mask]

In [179]:
df_train.iloc[80:84]

    Id  age  field  harvest_month  harvest_year  production  type
80  80   25      0             11          2010    0.591373     5
81  81   25      0             12          2010    0.384491     5
94  94   19      1              1          2004    0.062391     5
95  95   19      1              2          2004    0.052770     5

In [180]:
print(len(df_train))
print(len(df_val))
print(len(df_test))

4541
702
4110

In [181]:
def getSeqs(df):
    df = df.reset_index(drop=True)
    df['year_plant'] = df.harvest_year - df.age
    seqs_lim = [0]
    row = df.iloc[0]
    vals = (row.field, row.type, row.year_plant)
    for i, row in df.iterrows():
        if (row.field, row.type, row.year_plant) != vals:
            seqs_lim.append(i)
            vals = (row.field, row.type, row.year_plant)
    return seqs_lim

seqs_lim_train = getSeqs(df_train)

print(len(seqs_lim_train))

59

In [110]:
# Categorical features.
cat_ftrs = ['field', 'age', 'type', 'harvest_month']
# Continuous features.
contin_ftrs = [f for f in df_.columns if f not in (['production', 'Id', 'index'] + cat_ftrs)]
print(contin_ftrs)

# Inform pandas which features are categorical ...
for v in cat_ftrs:
    df_[v] = df_[v].astype('category').cat.as_ordered()
# ... and which are continuous.
for v in contin_ftrs:
    df_[v] = df_[v].astype('float32')

df_.head(2)

['harvest_year']

   Id age field harvest_month  harvest_year  production type
0   0  19     0             1        2004.0    0.064071    5
1   1  19     0             2        2004.0    0.047658    5

In [88]:
df_train.head(2)

   Id  age  field  harvest_month  harvest_year  production  type
0   0   19      0              1          2004    0.064071     5
1   1   19      0              2          2004    0.047658     5

In [101]:
from fastai.structured import *
df_train, _, nas, mapper = proc_df(df_train, ignore_flds=['production'], do_scale=True, skip_flds=['Id'])
df_val, _, nas, mapper = proc_df(df_val, ignore_flds=['production'], do_scale=True, mapper=mapper, na_dict=nas, skip_flds=['Id'])
df_test, _, nas, mapper = proc_df(df_test, ignore_flds=['production'], do_scale=True, mapper=mapper, na_dict=nas, skip_flds=['Id'])

In [90]:
df_train.head(2)

   production       age     field  harvest_month  harvest_year      type
0    0.064071  1.190436 -1.350779       -1.60209     -1.606482  0.382245
1    0.047658  1.190436 -1.350779       -1.31343     -1.606482  0.382245

In [77]:
print(len(df_train))
print(len(df_val))
print(len(df_test))

4541
702
4110

In [102]:
def groupBySeqs(*dfs):
    grps = []
    for df in dfs:
        df["year_plant"] = df["harvest_year"] - df["age"]
        gs = df.groupby(['field', 'type', 'year_plant'], sort=False)
        df.drop(columns=['year_plant'], inplace=True)
        grps.append([g for _, g in gs])
    return grps

dfs_train, dfs_val, dfs_test = groupBySeqs(df_train, df_val, df_test)

In [103]:
print(len(dfs_train))
print(len(dfs_val))
print(len(dfs_test))

396
59
356